@{
    ViewData["Title"] = "Index";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>

<!-- Layout-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i>
        Dashboard
    </div>
    <div class="card-body">
        Welkom: @User.Identity.Name
    </div>
</div>
